<fieldset>
	<legend><f:translate key="tx_formcreator_domain_model_form.input-field" /></legend>
	<div class="form-field ">
		<div class="row">
			<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.name" /></label><f:form.textfield
						type="input"
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.name')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[fieldname]',else:'fieldname')}[{current.uid}]"
						value="{current.fieldname}"				
						/>
			</div>	
			<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.label" /></label><f:form.textfield
						type="input"
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.label')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[fieldlabel]',else:'fieldlabel')}[{current.uid}]"
						value="{current.fieldlabel}"				
						/>	
			</div>
			<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.placeholder" />:</label><f:form.textfield
						type="input"
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.placeholder')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[placeholder]',else:'placeholder')}[{current.uid}]"
						value="{current.placeholder}"				
						/>	
			</div>
		</div>
		<div class="row">
			<div class="input">
				<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.text-before-field" />:</label><f:form.textfield
						type="input"
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.text-before-field')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[label1]',else:'label1')}[{current.uid}]"
						value="{current.label1}"				
						/>
				</div>
				<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.field-size" />:</label><f:form.textfield
						type="input"
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.ield-size')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[size]',else:'size')}[{current.uid}]"
						value="{f:if(condition:'{current.size}',then:'{current.size}')}"
						/>
				</div>
				<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.text-after-field" />:</label><f:form.textfield
						type="input"
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.text-after-field')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[label2]',else:'label2')}[{current.uid}]"
						value="{current.label2}"
						/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input">		
				<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.error-msg" /></label><f:form.textfield
						type="input"
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.error-msg')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[error-message]',else:'error-message')}[{current.uid}]"
						value="{current.errorMessage}"
						/>
				</div>		
				<div class="input col-sm-4">
					<label for="mandatory{current.uid}"><f:translate key="formfield.mandatory" /></label><f:form.checkbox name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[mandatory]',else:'mandatory')}[{current.uid}]"	id="mandatory{current.uid}" value="1" checked="{f:if(condition:'{current.mandatory}',then:'checked')}" />
				</div>
				<div class="input col-sm-4">
					<label for="datefield{current.uid}"><f:translate key="formfield.datefield" /></label><f:form.checkbox name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[datefield]',else:'datefield')}[{current.uid}]"	id="datefield{current.uid}" value="1" 
					checked="{f:if(condition:'{current.datefield}',then:'checked')}" />
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="input">		
				<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.validation" />:</label>
				<f:form.select name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[validation]',else:'validation')}[{current.uid}]" options="{validations}" class="filter-types" value="{current.validation}" prependOptionLabel="{f:translate(key:'formfield.select-default')}" />
				</div>
				<div class="input col-sm-4">
					<label for="uniquefield{current.uid}"><f:translate key="formfield.unique" /></label><f:form.checkbox name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[uniquefield]',else:'uniquefield')}[{current.uid}]" id="uniquefield{current.uid}" value="1" checked="{f:if(condition:'{current.uniquefield}',then:'checked')}"/>
				</div>
				<div class="input col-sm-4">
					<label><f:translate key="tx_formcreator_domain_model_form.validation-field" />:</label><f:form.textarea 
						rows="3" 
						cols="37" 
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.validation-field')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[error-message-unique]',else:'error-message-unique')}[{current.uid}]"
						value="{current.errorMessageUnique}"
						/>
				</div>				
			</div>
		</div>
		<f:form.hidden name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[type]',else:'type')}[{current.uid}]" value="1" />	
		<f:form.hidden name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[uid]',else:'uid')}[{current.uid}]" value="{current.uid}" />	

	</div>
</fieldset>
