
<f:layout name="Default" />

<f:section name="main">
<f:be.container loadJQuery="true" includeCssFiles="{style:'{f:uri.resource(path:\'Css/backend.css\')}'}" >
<div class="logContainer">	  
	<h1>Listing for Logs</h1>

	<f:flashMessages as="flashMessages">
		<ul class="typo3-flashMessages">
			<f:for each="{flashMessages}" as="flashMessage">
				<li class="alert {flashMessage.class}">
					<h4>{flashMessage.title}</h4>
					{flashMessage.message}
				</li>
			</f:for>
		</ul>
	</f:flashMessages>

	<f:form action="export" name="form" object="{form}" id="editForm">
		<f:form.select name="forms" id="selectForm" options="{forms}" optionValueField="uid" optionLabelField="name"  prependOptionLabel="Select form"  />
		<f:form.submit name="Submit" value="Export CSV" />
	</f:form>

	<div id="ajaxCallResult"></div>
	<script>
	TYPO3.jQuery(document).ready(function($){
		 $('#selectForm').change(function() {
			if ($(this).val()){
				execAjaxCall('<f:format.htmlentitiesDecode><f:uri.action action="logs" /></f:format.htmlentitiesDecode>'+'&tx_formcreator_web_formcreatorexport%5Blog%5D='+$(this).val());
			}
		});
		 function execAjaxCall(url){
			 var service = {
		        ajaxCall: function (data) {
		          $.ajax({
		            url: url,
		            cache: false,
		            data: data.serialize(),
		            success: function (result) {
		              $("#ajaxCallResult").html(result).fadeIn('fast');
		            },
		            error: function (jqXHR, textStatus, errorThrow) {
		              $("#ajaxCallResult").html('Ajax request - ' + textStatus + ': ' + errorThrow).fadeIn('fast');
		            }
		          });
		        }
		      };
			service.ajaxCall($(this));
		  }
	});	  
	</script>
</div>



</f:be.container>
</f:section>