<f:layout name="Default" />
<f:section name="main">
	<f:if condition="{logs}">
	<h2>Results: <f:count>{logs}</f:count></h2>
	
	<table  class="tx_formcreator" >
		<tr>
			<th>uid</th>
			<th><f:translate key="tx_formcreator_domain_model_log.ip" /></th>
		<f:for each="{logs}" as="log">
			<tr>
				<td><f:link.action action="show" arguments="{log : log}"> {log.uid}</f:link.action></td>
				<td><f:link.action action="show" arguments="{log : log}"> <f:format.date format="d.m.Y"> {log.crdate}</f:format.date></f:link.action></td>
			</tr>
		</f:for>
	</table>
	</f:if> 	
</f:section>