
<f:layout name="Default" />

<f:section name="main">
<h1>New Log</h1>

<f:flashMessages as="flashMessages">
	<ul class="typo3-flashMessages">
		<f:for each="{flashMessages}" as="flashMessage">
			<li class="alert {flashMessage.class}">
				<h4>{flashMessage.title}</h4>
				{flashMessage.message}
			</li>
		</f:for>
	</ul>
</f:flashMessages>

<f:render partial="FormErrors" arguments="{object:Log}" />

<f:form action="create"  name="newLog" object="{newLog}">
<f:render partial="Log/FormFields" />
	<f:form.submit value="Create new" />
</f:form>
</f:section>