{namespace nnn=Nnn\Formcreator\ViewHelper}  

<f:layout name="Default" />
<f:section name="main">
	<f:be.container loadJQuery="true" includeCssFiles="{style:'{f:uri.resource(path:\'css/style.css\')}'}" >
		<div class="logContainer">	 
			<h1>Detail View</h1>
			<div><label>uid</label>: {log.uid}</div>
			<div><label>IP</label>: {log.ip}</div>
			
			
			<f:for each="{nnn:Unserialize(serialized:log.params)}" as="data" key="key">
				<div><label>{key}</label>: {data}</div>
			</f:for>
				
			
		</div>
		<div class="logContainer"><f:link.action action="list"><< back</f:link.action></div>
	</f:be.container>		
</f:section>