
<f:layout name="Default" />


<f:section name="main">
<h1><f:translate key="form.list-header" /></h1>

<f:flashMessages as="flashMessages">
	<ul class="typo3-flashMessages">
		<f:for each="{flashMessages}" as="flashMessage">
			<li class="alert {flashMessage.class}">
				<h4>{flashMessage.title}</h4>
				{flashMessage.message}
			</li>
		</f:for>
	</ul>
</f:flashMessages>

<table  class="tx_formcreator" >
	<tr>
		<th>Id</th>
		<th><f:translate key="tx_formcreator_domain_model_form.name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{forms}" as="form">
		<tr>
			<td>{form.uid}</td>
			<td>{form.name}</td>
			<td><f:link.action action="edit" arguments="{form : form}"><f:translate key="form.list-editlink" /></f:link.action></td>
			<td><f:link.action action="copy" arguments="{form : form}"><f:translate key="form.list-copylink" /></f:link.action></td>
			<td><f:link.action action="delete" arguments="{form : form}"><f:translate key="form.list-deletelink" /></f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new" ><f:translate key="form.list-newlink" /></f:link.action>
</f:section>