
<f:layout name="Default" />


<f:section name="main">

<div id="editFormContainer">
	<div class="addFieldsLink">
		<label><f:translate key="form.edit-select" /></label>
		<f:link.action action="getInput" class="button ajaxCall" noCacheHash="1"  arguments="{uid:form.uid}" additionalParams="{type:321}"><f:translate key="form.edit-select-input" /></f:link.action>
		<f:link.action action="getTextarea" class="button ajaxCall" noCacheHash="1"  arguments="{uid:form.uid}" additionalParams="{type:327}"><f:translate key="form.edit-select-textarea" /></f:link.action>
		<f:link.action action="getHtml" class="button ajaxCall" noCacheHash="1"  arguments="{uid:form.uid}" additionalParams="{type:322}"><f:translate key="form.edit-select-html" /></f:link.action>
		<f:link.action action="getSelect" class="button ajaxCall" noCacheHash="1"  arguments="{uid:form.uid}" additionalParams="{type:323}"><f:translate key="form.edit-select-select" /></f:link.action>
		<f:link.action action="getCheckbox" class="button ajaxCall" noCacheHash="1"  arguments="{uid:form.uid}" additionalParams="{type:324}"><f:translate key="form.edit-select-checkbox" /></f:link.action>
		<f:link.action action="getRadio" class="button ajaxCall" noCacheHash="1"  arguments="{uid:form.uid}" additionalParams="{type:325}"><f:translate key="form.edit-select-radio" /></f:link.action>
		<f:link.action action="getHeader" class="button ajaxCall" noCacheHash="1"  arguments="{uid:form.uid}" additionalParams="{type:328}"><f:translate key="form.edit-select-header" /></f:link.action>
		<f:link.action action="getDivider" class="button ajaxCall" noCacheHash="1"  arguments="{uid:form.uid}" additionalParams="{type:326}"><f:translate key="form.edit-select-divider" /></f:link.action>
	</div>


	<f:form action="update" name="form" object="{form}" id="editForm" section="previewFormContainer">
		<div><label><f:translate key="form.edit-formname" /></label>
		<f:form.textfield
			type="input"
			placeholder="Formular Name"
			class="input"
			name="name"
			value="{form.name}"				
			/></div>
		<div><label><f:translate key="form.edit-submitbutton" /></label>
		<f:form.textfield
			type="input"
			placeholder="{f:translate(key:'form.edit-submitbutton')}"
			class="input"
			name="submit"
			required="true"
			value="{form.submit}"				
			/></div>		
		<div id="ajaxCallResult">
			<f:if condition="{form.attributes}">
				<f:for each="{form.attributes}" as="attribute">
					<f:if condition="{attribute.type} == 1">
						<div class="fieldContainer">
							<f:render partial="Form/Input" arguments="{current:attribute,validations:validations}" /> 
							<f:render partial="Form/Delete" />
						</div>
					</f:if>
					<f:if condition="{attribute.type} == 2">
						<div class="fieldContainer">
							<f:render partial="Form/Html" arguments="{current:attribute}" /> 
							<f:render partial="Form/Delete" />
						</div>
					</f:if>
					<f:if condition="{attribute.type} == 3">
						<div class="fieldContainer">
							<f:render partial="Form/Select" arguments="{current:attribute}" /> 
							<f:render partial="Form/Delete" />
						</div>
					</f:if>
					<f:if condition="{attribute.type} == 4">
						<div class="fieldContainer">
							<f:render partial="Form/Checkbox" arguments="{current:attribute}" /> 
							<f:render partial="Form/Delete" />
						</div>
					</f:if>
					<f:if condition="{attribute.type} == 5">
						<div class="fieldContainer">
							<f:render partial="Form/Radio" arguments="{current:attribute}" /> 
							<f:render partial="Form/Delete" />
						</div>
					</f:if>
					<f:if condition="{attribute.type} == 6">
						<div class="fieldContainer">
							<f:render partial="Form/Divider" arguments="{current:attribute}" /> 
							<f:render partial="Form/Delete" />
						</div>
					</f:if>
					<f:if condition="{attribute.type} == 7">
						<div class="fieldContainer">
							<f:render partial="Form/Textarea" arguments="{current:attribute}" /> 
							<f:render partial="Form/Delete" />
						</div>
					</f:if>
					<f:if condition="{attribute.type} == 8">
						<div class="fieldContainer">
							<f:render partial="Form/Header" arguments="{current:attribute}" /> 
							<f:render partial="Form/Delete" />
						</div>
					</f:if>
				</f:for>
			</f:if>
			
			<input type="hidden" name="form-id" id="form-id" value="{form.uid}" />
		</div>

		
		<p><f:form.submit value="{f:translate(key:'form.edit-savebutton')}" /></p>
	</f:form>
	<p><f:link.action action="list"><f:translate key="form.edit-backbutton" /></f:link.action></p>
</div>
</f:section>