<div class="form-field">
	<div class="html">
		<div>
			<label for="field_{current.uid}"><f:format.raw>{current.fieldlabel}</f:format.raw> <f:if condition="{current.mandatory}"><sup>*</sup></f:if></label>
			<f:if condition="{current.mandatory}">
				<f:then><f:form.checkbox name="{current.fieldname}"	id="field_{current.uid}" value="{current.text}" additionalAttributes="{data-validation:'required'}" /></f:then>
				<f:else><f:form.checkbox name="{current.fieldname}"	id="field_{current.uid}" value="{current.text}" /></f:else>
			</f:if>
		</div> 
	</div>
</div>

