<fieldset>
	<legend><f:translate key="tx_formcreator_domain_model_form.header" /></legend>
	<div class="form-field ">
		<div class="row">
			<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.name" />:</label><f:form.textfield
						type="input"
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.name')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[fieldname]',else:'fieldname')}[{current.uid}]"
						value="{current.fieldname}"				
						/>
			</div>	
			<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.header" />:</label><f:form.textfield
						type="input"
						placeholder="{f:translate(key:'tx_formcreator_domain_model_form.header')}"
						class="input"
						name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[text]',else:'text')}[{current.uid}]"
						value="{current.text}"				
						/>	
			</div>
			<div class="input col-sm-4">
				<label><f:translate key="tx_formcreator_domain_model_form.format" />:</label>
				<f:form.select name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[format]',else:'format')}[{current.uid}]" options="{h1: 'h1', h2: 'h2', h3: 'h3', h4: 'h4', h5: 'h5', h6: 'h6'}" value="{current.format}"/>
			</div>
		</div>

		<f:form.hidden name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[type]',else:'type')}[{current.uid}]" value="8" />	
		<f:form.hidden name="{f:if(condition:'{ajax}',then:'tx_formcreator_pi1[uid]',else:'uid')}[{current.uid}]" value="{current.uid}" />	
	</div>
</fieldset>