{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="radioOptions" value="{v:variable.get(name: 'options.{current.uid}',useRawKeys:'1')}" />
<div class="form-field">
	<div class="radio">
		<div>
			<label>{current.fieldlabel} <f:if condition="{current.mandatory}"><sup>*</sup></f:if></label>
			<f:for each="{radioOptions}" as="option"  key="key">
				<label for="{current.fieldname}{key}" class="radio">{option}</label>
				<f:if condition="{current.mandatory}">
					<f:then><f:form.radio name="{current.fieldname}" id="{current.fieldname}{key}" value="{key}" class="radiobtn" additionalAttributes="{data-validation:'required'}" /></f:then>
					<f:else><f:form.radio name="{current.fieldname}" id="{current.fieldname}{key}" value="{key}" class="radiobtn" /></f:else>
				</f:if>				
			</f:for>
		</div>
	</div>
</div>

