.tx-formcreator .hidden{
	 display:none;
 }
 
.tx-formcreator .logContainer {
    border: solid 1px #ccc;
    padding: 1em;
    background-color: whitesmoke;
    margin: 1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: relative;
}

.tx-formcreator table td{
	padding:0.5em 1em;
}
.tx-formcreator label{
	width: 252px;
    font-weight: bold;
}
.tx-formcreator a{
	font-size:12px;
}
.tx-formcreator .container {
    width: 100%;
}
.tx-formcreator .container:before, .tx-formcreator  .container:after {
    content: " ";
    display: table;
}
.tx-formcreator  .row {
    margin-left: -15px;
    margin-right: -15px;
}

.tx-formcreator  .row:before, .tx-formcreator  .row:after {
    content: " ";
    display: table;
}

.tx-formcreator .form-field {
    margin-bottom: 1em;
}

.tx-formcreator textarea.f3-form-error {
	background-color: #FF9F9F;
	border: 1px #FF0000 solid;
}

.tx-formcreator input.f3-form-error {
	background-color: #FF9F9F;
	border: 1px #FF0000 solid;
}

.tx-formcreator table {
	border-collapse: separate;
	border-spacing: 10px;
}

.tx-formcreator table th {
	font-weight: bold;
}

.tx-formcreator table td {
	vertical-align: top;
}

.typo3-messages .message-error {
	color: red;
}

.typo3-messages .message-ok {
	color: green;
}

.errorMsg {
	font-size: 1.3em;
	border: solid 2px red;
	background-color: antiquewhite;
	padding: 1em;
}

#ajaxCallResult .fieldContainer {
	border: solid 1px #ccc;
	padding: 1em;
	background-color: whitesmoke;
	margin: 1em 0;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
}

#ajaxCallResult .fieldContainer:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#ajaxCallResult .fieldContainer:hover {
	cursor: -webkit-grab;
	cursor: grab;
}

#ajaxCallResult .fieldContainer:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.tx-formcreator .addFieldsLink {
	margin-bottom: 4em;
	border: solid 1px #ccc;
	padding: 1em;
}

.tx-formcreator .form-field label {
	width: 165px;
	margin-bottom: 1em;
	vertical-align: top;
	padding: 0;
}

.tx-formcreator .form-field input.input {
	padding: 0;
	margin-left: -3px;
}

.tx-formcreator .button {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 0.5em;
	background-color: whitesmoke;
	color: #000;
	margin: 1em 0 1em 1em;
	font-weight: bold;
}

.tx-formcreator .deleteField {
	position: absolute;
	right: 4px;
	top: 8px;
	padding: 3px 8px;
	border: 1px solid #a09999;
	border-radius: 3em;
}

.tx-formcreator textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

.tx-formcreator .button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.tx-formcreator .form-field {
	margin-bottom: 1em;
}

.tx-formcreator .preview-form {
	margin-bottom: 3em;
}

.tx-formcreator input.radiobtn {
	position: relative;
	margin: 0 1em 0 0.5em;
}

.tx-formcreator hr.divider {
	border-top: 2px solid #777;
}

.tx-formcreator .form-field label.radio {
	width: auto;
	display: inline;
}